body {
    
    background-color: beige;
    margin: 0;
    padding: 0;
    
  font-family: 'Anton', sans-serif;
    box-sizing: border-box;
    
}

span {
    color: red;
}


/*NAWIGACJA******************************/


#main-nav {
	font-style: oblique;
    position: fixed;
    
    font-size: 25px;
    background-color: rgba(80, 20, 90, 0.5);
    
}

#main-nav .nav-item a {
  color: mediumpurple;
    
}

#main-nav .nav-item a:hover {
  color: lightblue;
    
}

.navbar-light .navbar-toggler {
    border-color: red;
}

.navbar-toggler {
    background-color: royalblue;
    border-radius: 25%;
    border: solid 5px;
}



/*FRON END **********************************************************/

#main-header {
  
	
    color: royalblue;
    background-image: url(http://cdn.player.one/sites/player.one/files/2016/10/14/march-comes-lion.jpg);
    text-align: center;
    height: 75vh;
    background-position: center;
    background-size: cover;
  
    
}



#main-header .header-caption h1 {
	font-size: 1em;
    position: relative;
    top: 150px;
    
    
}

#main-header .header-caption h1 {
	font-size: 5em;
    
   
}


/*ZAINTERESOWANIA*************************/

#portfolio #obrazy img{
	width: 100%;
    height: 100%;
    margin: 5px;
   
  
     
}

#gora {
	font-size: 40px;
}

.maska {
 
    text-align: center;
    width: 100%;
    height: 103%;
    position: absolute;
   
/*    left: 4%;*/
    top: 0%;
    background-color: rgba(80, 20, 90, 0.5);
    color:red;
 
    opacity: 0;
    
}

.maska:hover {
    opacity: 1;
    transition: 1s;
    transform: rotate(360deg);
    
    
}





#maska1  {
    position: absolute;
    left: 21px;
    top: 5px;
	width: 89%;
    height: 100%;
    
}

#maska2 {
	 position: absolute;
    left: 21px;
    top: 5px;
	width: 89%;
    height: 100%;
}

#maska3 {
	 position: absolute;
    left: 21px;
    top: 5px;
	width: 89%;
    height: 100%;
}

#maska4 {
	position: absolute;
    left: 21px;
    top: 5px;
	width: 89%;
    height: 100%;
}

/************************UMIEJĘTNOŚCI****************************/




